/* MAIN PANE */
.root {
	-fx-background-color: #e96762;
	-fx-background-radius: 20;
}

/* DEFAULT BG */
.default-background {
	-fx-background-color: #e99185;
	-fx-background-radius: 20;
}

/* BUTTON */
.button {
	-fx-background-color: #e99185;
	-fx-background-radius: 30;
}

/* TEXT FIELD */
.text-field {
	-fx-background-color: #e99185;
	-fx-background-radius: 5;
}