/* MATERIAL DESIGN 400*/
.info-background {
    -fx-background-color: rgba(66, 165, 245, 0.5);
    -fx-background-radius: 8;
}
.warning-background {
    -fx-background-color: rgba(255, 202, 40, 0.5);
    -fx-background-radius: 8;
}
.error-background {
    -fx-background-color: rgba(239, 83, 80, 0.5);
    -fx-background-radius: 8;
}
.success-background {
    -fx-background-color: rgba(102, 187, 106, 0.5);
    -fx-background-radius: 8;
}

/* TOGGLE BUTTON */
.tg-servizio {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 4;
}

.tg-servizio: selected {
    -fx-background-color: rgba(15, 15, 15, 0.2);
    -fx-background-radius: 4;
}

/* LABEL */
.l-servizio {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 4;
    -fx-label-padding: 0 4 0 4;
}