.default-radius {
    -fx-background-radius: 8;
}

.transparent {
    -fx-background-color: transparent;
}

.opaco-20 {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 4;
}

.bordo {
    -fx-border-color: lightgray;
    -fx-border-radius: 4;
}

.field-error {
	-fx-border-color: red;
	-fx-border-radius: 5;
	-fx-border-width: 1.5;
}

.field-info {
	-fx-border-color: blue;
	-fx-border-radius: 5;
	-fx-border-width: 1.5;
}

.field-valid {
	-fx-border-color: green;
	-fx-border-radius: 5;
	-fx-border-width: 1.5;
}

.tooltip-error {
	-fx-border-color: red;
	-fx-border-radius: 10;
	-fx-border-width: 1.5;
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-font-size: 12;
	-fx-text-fill: black;
}

.tooltip-info {
	-fx-border-color: blue;
	-fx-border-radius: 10;
	-fx-border-width: 1.5;
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-font-size: 12;
	-fx-text-fill: black;
}

/* TEXT FIELD */
.text-field {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 4;
    -fx-text-fill: #323232;
    -fx-prompt-text-fill: #909090;
}

/* TEXT AREA */
.text-area {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 4;
    -fx-control-inner-background: transparent;
    -fx-text-fill: #323232;
    -fx-prompt-text-fill: #909090;
}

.text-area:focused {
    -fx-highlight-fill: transparent;
    -fx-background-insets: 0;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-box-border: transparent;
}

/* BUTTON */
.button {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-radius: 4;
}

.button: hover {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 4;
}

/* SCROLL PANE */
.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 20 0;
}
.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 20 0;
}

.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:vertical .track,
.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button .decrement-arrow,
.scroll-pane .scroll-bar:vertical .increment-button .increment-arrow{
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

/* COMBO BOX*/
.combo-box-base {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-background-radius: 4;
}

.combo-box-popup .list-view {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 4;
}
.combo-box-popup .list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #323232;
}
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: rgba(66, 76, 82, 0.2);
    -fx-background-radius: 4;
    -fx-text-fill: #323232;
}

/* TOGGLE BUTTON */
.tg-servizio {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 4;
}

.tg-servizio: selected {
    -fx-background-color: rgba(66, 76, 82, 0.6);
    -fx-background-radius: 4;
}

/* SEZIONE COMPLEANNO */
.compleanno-icon {
    -fx-icon-color: #d2190e;
}
.compleanno-text {
	-fx-text-fill: #d2190e;
}
